* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar .brand-title {
  font-size: 1.5rem;
  color: white;
  font-family: "Roboto",sans-serif;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .brand2{
  font-size: 0.91rem;
  color: rgb(10, 218, 93);k
}

.navbar .navbar-links ul {
  list-style: none;
  display: flex;
}

.navbar .navbar-links li {
  margin: 0 15px;
}

.navbar .navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Initially hide navbar-links2 */
.navbar .navbar-links2 {
  display: none;
}

.navbar .navbar-links2 ul {
  list-style: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navbar .navbar-links2 li {
  margin: 10px 0;
}

.navbar .navbar-links2 a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Toggle button styles */
.navbar .toggle-button, .navbar .cross-button {
  cursor: pointer;
  width: 24px;
}

.navbar .toggle-button {
  display: none;
  flex-direction: column;
}

.navbar .toggle-button .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

.head{
  width: 100%;
  height: 250px;
  background-image: url(makua/coww.png);
background-size: cover;
background-position:bottom;
  background-repeat: no-repeat;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1{
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
.abt{
  font-size: 35px;
  text-align: center;
  margin-top: 15px;
  font-family: 'Oswald', sans-serif;
}

.grd img{
  margin-top: 10px;
}

.grd{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 70px;
}
.grd img{
  float: right;
}
.grd p{
  margin-bottom: 20px;
}

.msg{
  margin-top: 5px;
  
}

.footer{
  background-color: #f0f3f0;
  width: 100%;
  height: 300px;
margin-top: 100px;
bottom: 0px;  
}
.footer h2{
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding-top: 50px;
}
.footer p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.ft ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.ft ul li{
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.ft a{
  color: rgb(204, 125, 7);
}
.icons{
  display: flex;
 justify-content: center;
 padding: 0 20px;
 gap:30px;
 margin-top: 20px;
}




/* Responsive Styles */

@media screen and (max-width: 768px) {


  .about {
    width: 100%;
    margin: 10px auto;
    float: none;
    text-align: center;
  }

  .about img {
    max-width: 80%;
  }

  .service h1,
  .we h2,
  .team h2 {
    font-size: 30px;
  }

  .side,
  .pich {
    width: 100%;
    margin-left: 0;
  }

  .tm {
    width: 100%;
    float: none;
    margin: 20px 0;
  }

.
  .btn {
    padding: 10px 0px;
    background-color: rgb(41, 245, 5);
    margin-top: 20px;
    font-size: 15px;
    color: rgb(73, 70, 70);
    border-radius: 5px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (max-width: 480px) {
.pp{
  font-size: 10px;
}
  .offer{
  font-size: 20px;
}

 .service h1{
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
 }
  .welcome p{
    font-size: 12px;
    
  }
  .nav img {
    width: 60px;
    height: 60px;
  }

  .welcome  {
    font-size: 30;
    line-height: 30px;
    margin-top: 30px;
  }

  .neno {
  top:100px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .image{
    height: 200px;
  }
.image img{
  width: 100%;
  height: 200px;
}
  .about h1 {
    font-size: 25px;
  }
.about h2{
  margin-top: 0px;
}
  .about p {
    font-size: 16px;
  }

  .picha,
  .pich,
  .side,
  .tm,
  .cad {
    width: 100%;
  }

  .cad {
    height: auto;
    margin-bottom: 20px;
  }

  .side img{
   margin-left: 0px;
   padding-left: 4;
    
  }
  .cad:hover {
    height: auto;
  }

  .pic {
    height: auto;
    margin-left: 0;
  }

  .btn2 {
    padding: 8px 16px;
    font-size: 14px;
  }

  .sev{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

  }

  .abb{
    font-size: 20px;
  }
  .why h2{
    font-size: 20px;
  }
  .why p{
    font-size: 10px;
  }
.meet h2{
  font-size: 20px;
}

.footer{
  background-color: #f0f3f0;
  width: 100%;
  height: auto;
  bottom: 0px;
}
.footer h2{
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding-top: 50px;
}
.footer p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.fst{
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
   
}
.ft{
  display: flex;
  justify-content: center;
  
}
.ft ul{
  flex-direction: row;
margin-bottom: 30px;
justify-content: center;
align-items: center;
}
.ft ul li{
  height: 20px;
}
.icons{
  display: flex;
 justify-content: center;
 padding: 0 20px;
 gap:30px;
 margin-top: 20px;
 padding-bottom: 40px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* 1 column grid */
  gap: 20px; /* Space between items */
  justify-items: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* FST (Gallery Items) Styling */
.container {
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.container img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


}


@media (max-width: 768px) {
  .blocks{
    grid-template-columns: repeat(1, 1fr); 
    margin-left: 2rem; 
    margin-right: 2rem;
    margin-top: 4px;
  }
  .grd p{
    font-size: 12px;
  }

  .grd btn {
    padding: 10px 20px;
    background-color: rgb(41, 245, 5);
    margin-left: 20px;
    font-size: 15px;
    color: rgb(73, 70, 70);
    border-radius: 5px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media(max-width:1538px){
  .test-container{
    height: 400px;
    }
    .test-container p{
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 80px;
    }
}

@media(max-width:480px){
  .test-container{
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;

    }
    .test-container p{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      font-size: 12px;
      
    }
    .test-container h2{
     font-size: 30px;
    }
.test h2{
  font-size: 19px;
}
}

@media (max-width: 768px) {
  .grd h1{
font-size: 20px;
color: rgb(7, 7, 7);
text-align: center;
padding-top: 20px;
width: 100%;
margin-left: 0px;
margin-right: opx;
  }
  .grd p{
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;

  }
}
@media (max-width: 768px) {
  .owner{
    grid-template-columns: repeat(1, 1fr); 

    margin-left: 2rem; 
    margin-right: 2rem;
    margin-top: 10px;
    row-gap: 20px;
    
  }
}
@media (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr; /* 1 column grid */
    gap: 20px; /* Space between items */
    justify-items: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* FST (Gallery Items) Styling */
  .fst {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  .fst img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* 1 column grid */
    gap: 20px; /* Space between items */
    justify-items: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* FST (Gallery Items) Styling */
  .container {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

}

@media (max-width: 768px) {
  .we{
    width: 100%;
  }
  .grid-container1{
    grid-template-columns: repeat(1, 1fr); 
    padding-left: 5px;
    padding-right: 5px;
   margin-top: 10px;
    row-gap: 20px;
  }
  why h2,p{
    padding-left: 5px;
    padding-right: 5px;
  }
  .why h2{
    font-size: 15px;
    text-align: center;
  }
}

@media(max-width:480px){
  .nav ul {
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    color: white;
    display: none;
  }
  .menu{
  width: 24px;
  height: 24px;
  display: flex;
  float:right;
  margin-top: 0px;
  
}
}
@media(max-width:480px){
.navsub{
width: 100%;
background-color: #f0f3f0;
display: flex;
justify-content: end;
align-items: center;
cursor: pointer;
}
.burger {
width: 24px;
margin-right: 10px;

}
}
.sidebar{
  position: fixed;
  top: 0px;
  right: 0px; 
  height: 100vh;
  width: 250px;
  z-index: 999 ;
  background-color: rgba(255,255,255,0.8);
   box-shadow: -10px 0 10px rgba(0,0,0,0.1);
   backdrop-filter: blur(5px);
   display: none;
}

.sidebar h1{
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  font-weight:350;
  margin-left: 28px;
  margin-top: 20px;
 
}
.sidebar ul{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  list-style-type: none;
  display: flex;
   flex-direction: column ;
   align-items: flex-start;
   justify-content: flex-start;
   row-gap: 30px;
   margin-left: 28px;
   margin-top: 20px;
   background-color:transparent
}
a{
  text-decoration: none;
  color: black;
}

/* Mobile View */
@media (max-width: 768px) {
  .navbar .navbar-links {
    display: none;
  }

  /* Show toggle button on mobile */
  .navbar .toggle-button {
    display: flex;
  }

  /* Show navbar-links2 when the toggle button is active */
  .navbar .navbar-links2.active {
    display: flex;
  }

  /* Show the cross button to hide the menu */
  .navbar .cross-button {
    display: none;
  }

  .navbar .cross-button.active {
   display: flex;
  float: right;
  
  }

  .navbar .toggle-button.hide {
    display: none;
  }

  .navbar .navbar-links2 ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar .navbar-links2 li {
    margin: 10px 0;
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .navbar .navbar-links {
    display: flex;
  }

  .navbar .navbar-links2 {
    display: none;
  }

  .cross-button {
    display: none;
  }
 
}

@media(max-width:480px){
  .head{
    margin-top: 10px;
    height: 48px;
  }

  .grd img{
    margin-bottom: 30px;
  }

  .head h1{
    font-size: 20px;
  }
  .abt h1{
    font-size: 20px;
  }

  .msg{
    margin-top: 40px;
  }

  .msg p{
    text-align:justify;
  }
}

@media(max-width:480px){
  .blocks{
  display: grid;
  grid-template-columns: 1fr; /* 1 column grid */
  gap: 20px; /* Space between items */
  justify-items: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-left: 20px;
  margin-right: 20px;
  }

}

.blocks{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 30px;
}
.bck{
  width: 350px;
  height: 200px;
  background-color: white;
  margin-top: 90px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.08);
  padding-top: 35px;
}

.bck h1{
  text-align: center;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  color: rgb(3, 3, 84);
}

.bck p{
  text-align: center;
}

@media(max-width:1280px){
  .bck{
    width: 300px;
   }
}
