* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar .brand-title {
  font-size: 1.5rem;
  color: white;
  font-family: "Roboto",sans-serif;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .brand2{
  font-size: 0.91rem;
  color: rgb(10, 218, 93);k
}

.navbar .navbar-links ul {
  list-style: none;
  display: flex;
}

.navbar .navbar-links li {
  margin: 0 15px;
}

.navbar .navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Initially hide navbar-links2 */
.navbar .navbar-links2 {
  display: none;
}

.navbar .navbar-links2 ul {
  list-style: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navbar .navbar-links2 li {
  margin: 10px 0;
}

.navbar .navbar-links2 a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Toggle button styles */
.navbar .toggle-button, .navbar .cross-button {
  cursor: pointer;
  width: 24px;
}

.navbar .toggle-button {
  display: none;
  flex-direction: column;
}

.navbar .toggle-button .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Mobile View */
@media (max-width: 768px) {
  .navbar .navbar-links {
    display: none;
  }

  /* Show toggle button on mobile */
  .navbar .toggle-button {
    display: flex;
  }

  /* Show navbar-links2 when the toggle button is active */
  .navbar .navbar-links2.active {
    display: flex;
  }

  /* Show the cross button to hide the menu */
  .navbar .cross-button {
    display: none;
  }

  .navbar .cross-button.active {
   display: flex;
  float: right;
  
  }

  .navbar .toggle-button.hide {
    display: none;
  }

  .navbar .navbar-links2 ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar .navbar-links2 li {
    margin: 10px 0;
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .navbar .navbar-links {
    display: flex;
  }

  .navbar .navbar-links2 {
    display: none;
  }

  .cross-button {
    display: none;
  }
}

.welcome {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 430px;
  color: rgb(1, 1, 31);
  line-height: 60px;
  font-family: "Oswald", sans-serif;
}
.welcome p{
  font-size: 18;
   font-weight: 100px;
   padding-top: 15;
   font-family: Arial, Helvetica, sans-serif;
}
.image {
  position: relative;
  height: 700px; 
  overflow: hidden;
}

.neno {
  font-size: 60px;
  position: absolute;
  z-index: 10;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  line-height: 1.3;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.grd{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  margin-top: 50px;
  margin-right: 60px;
  margin-left: 60px;
}
.grd p{
  padding-right: 100px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.grd h1{
  font-size: 34px;
  margin-bottom: 30px;
  line-height: 1;
}
.abb{
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}



.btn {
  padding: 10px 10px;
  background-color: rgb(41, 245, 5);
  margin-top: 20px;
  font-size: 15px;
  color: rgb(73, 70, 70);
  border-radius: 5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  
}

.btn2 {
  padding: 10px 20px;
  background-color: rgb(41, 245, 5);
  margin-top: 20px;
  font-size: 15px;
  color: rgb(73, 70, 70);
  border-radius: 5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.offer{
font-size: 30;
text-align: center;
padding-top:30px;
padding-bottom: 10px;
}
.sev{
  text-align: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}
.picha {
  width: 300px;
  height: 300px;
}

.picha img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.pich {
  position: relative;
  top: 30px;
  width: 500px;
  height: 500px;
}

.pich img {
  border-radius: 40px;
  width: 100%;
  height: auto;
}

.side img {
  object-fit: contain;
  align-items: center;
  width: 500px;
  height: auto;
  padding-left: 30px;
}

.side img:hover {
  opacity: 0.9;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  justify-content: center;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-container1{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: center;
  margin-top: 25px;
  padding-left: 80px;
  padding-right: 80px;
}
.container {
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 3px 0.5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  transition: opacity 0.15s;
}

.container img {
  object-fit: cover;
  height: auto;
}
.container img:hover{
  opacity: 0.7;
}
.sub {
  text-align: center;
  padding: 10px 20px;
}

.sub h2 {
  
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}


.service h1 {
  text-align: center;
  font-size: 35px;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  color: rgb(1, 1, 31);
}

.pp {
  text-align: center;
  margin-left: 4px;
  width: 100%;
  margin: 0px;
}

.service p {
  font-family: "Inter", sans-serif;
}

.we img {
  margin-top: 0;
  height: 500px;
  width: 100%;
  object-fit: cover;
  align-items: center;
  filter: brightness(0.5);
}

.we {
  background-color: rgb(241, 246, 246);
  margin-top: 70px;
  padding-bottom: 30px;
 width: 100%;
}

.wa h1 {
  position: absolute;
  top: 0;
  font-size: 60px;
  color: white;
  font-family: "Oswald", sans-serif;
}

.we h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  color: rgb(1, 1, 31);
  z-index: 10;
}

.why h2 {
  font-size: 25px;
  line-height: 1;
  font-family: "fjalla one", sans-serif;
  color: rgb(1, 1, 31);
  z-index: 10;
  text-align: start;
}

.why p{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}
.team{
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
.meet h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: rgb(1, 1, 31); 
}
.meet p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.owner{
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 90px; 
}

.er{
  width:300px ;
  height: 440px;
  background-color: white;
  box-shadow:1px 1px  10px rgba(0, 0, 0, 0.5);
  
  
}

.photo{

  width: 100%;

}
.er h2{
  font-size: 20px;
  text-align: center;
}
.er h3{
  font-size: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.gallery{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fst {
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.fst img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.testimonial {
  display: flex;
  justify-content: center;
  position: relative;
height: auto;
height: 550px;
margin-bottom: 100px;
}

.test-container {
  width: 80%;
  height: 550px;
  background-color: rgba(9, 9, 9, 0.8);
  background-position: top;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-blend-mode: color;
  border-radius: 3px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 90px;
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.test-container.active {
  opacity: 1;
}

.test h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: rgb(1, 1, 31);
  margin-bottom: 40px;
}

.test-container h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: rgb(240, 240, 243);
  filter: brightness(1.6);
}

.test-container p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px;
  margin-bottom: 0px;
  color: aliceblue;
  font-style: italic;
}

.test-container .name {
  font-size: 25px;
  margin-top: 0px;
  padding-top: 20px;
}

.test-container .occ {
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
  color: white;
  font-style: normal;
}

.footer{
  background-color: #f0f3f0;
  width: 100%;
  height: 300px;
margin-top: 50px;
}
.footer h2{
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding-top: 50px;
}
.footer p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.fst {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  
}

.ft ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.ft ul li{
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.ft a{
  color: rgb(204, 125, 7);
}
.icons{
  display: flex;
 justify-content: center;
 padding: 0 20px;
 gap:30px;
 margin-top: 20px;
}



/* Responsive Styles */

@media screen and (max-width: 768px) {


  .about {
    width: 100%;
    margin: 10px auto;
    float: none;
    text-align: center;
  }

  .about img {
    max-width: 80%;
  }

  .service h1,
  .we h2,
  .team h2 {
    font-size: 30px;
  }

  .side,
  .pich {
    width: 100%;
    margin-left: 0;
  }

  .tm {
    width: 100%;
    float: none;
    margin: 20px 0;
  }

.
  .btn {
    padding: 10px 0px;
    background-color: rgb(41, 245, 5);
    margin-top: 20px;
    font-size: 15px;
    color: rgb(73, 70, 70);
    border-radius: 5px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (max-width: 480px) {
.pp{
  font-size: 10px;
}
  .offer{
  font-size: 20px;
}

 .service h1{
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
 }
  .welcome p{
    font-size: 12px;
    
  }
  .nav img {
    width: 60px;
    height: 60px;
  }

  .welcome  {
    font-size: 30;
    line-height: 30px;
    margin-top: 30px;
  }

  .neno {
  top:100px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .image{
    height: 200px;
  }
.image img{
  width: 100%;
  height: 200px;
}
  .about h1 {
    font-size: 25px;
  }
.about h2{
  margin-top: 0px;
}
  .about p {
    font-size: 16px;
  }

  .picha,
  .pich,
  .side,
  .tm,
  .cad {
    width: 100%;
  }

  .cad {
    height: auto;
    margin-bottom: 20px;
  }

  .side img{
   margin-left: 0px;
   padding-left: 4;
    
  }
  .cad:hover {
    height: auto;
  }

  .pic {
    height: auto;
    margin-left: 0;
  }

  .btn2 {
    padding: 8px 16px;
    font-size: 14px;
  }

  .sev{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

  }

  .abb{
    font-size: 20px;
  }
  .why h2{
    font-size: 20px;
  }
  .why p{
    font-size: 10px;
  }
.meet h2{
  font-size: 20px;
}

.footer{
  background-color: #f0f3f0;
  width: 100%;
  height: auto;
  
}
.footer h2{
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding-top: 50px;
}
.footer p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.fst{
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.testimonial{
  margin-bottom: 100px;
  margin-top: 0px;
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.team{
  margin-bottom: 70px;
}

.ft ul{
  display: flex;
 flex-direction: row;
  margin-bottom: 30px;
}
.ft ul li{
  height: 20px;
  font-size: 10px;
  margin-left: 5px;
}
.icons{
  display: flex;
 justify-content: center;
 padding: 0 20px;
 gap:30px;
 margin-top: 20px;
 padding-bottom: 40px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* 1 column grid */
  gap: 20px; /* Space between items */
  justify-items: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* FST (Gallery Items) Styling */
.container {
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.container img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


}


@media (max-width: 768px) {
  .grd{
    grid-template-columns: repeat(1, 1fr); 
    margin-left: 2rem; 
    margin-right: 2rem;
    margin-top: 4px;
  }
  .grd p{
    font-size: 12px;
  }

  .grd btn {
    padding: 10px 20px;
    background-color: rgb(41, 245, 5);
    margin-left: 20px;
    font-size: 15px;
    color: rgb(73, 70, 70);
    border-radius: 5px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media(max-width:1538px){
  .test-container{
    height: 400px;
    }
    .test-container p{
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 80px;
    }
}

@media(max-width:480px){
  .test-container{
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;

    }
    .test-container p{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      font-size: 12px;
      
    }
    .test-container h2{
     font-size: 30px;
    }
.test h2{
  font-size: 19px;
}
}

@media (max-width: 768px) {
  .grd h1{
font-size: 20px;
color: rgb(7, 7, 7);
text-align: center;
padding-top: 20px;
width: 100%;
margin-left: 0px;
margin-right: opx;
  }
  .grd p{
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;

  }
}
@media (max-width: 768px) {
  .owner{
    grid-template-columns: repeat(1, 1fr); 

    margin-left: 2rem; 
    margin-right: 2rem;
    margin-top: 10px;
    row-gap: 20px;
    
  }
}
@media (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr; /* 1 column grid */
    gap: 20px; /* Space between items */
    justify-items: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* FST (Gallery Items) Styling */
  .fst {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  .fst img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* 1 column grid */
    gap: 20px; /* Space between items */
    justify-items: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* FST (Gallery Items) Styling */
  .container {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

}

@media (max-width: 768px) {
  .we{
    width: 100%;
  }
  .grid-container1{
    grid-template-columns: repeat(1, 1fr); 
    padding-left: 5px;
    padding-right: 5px;
   margin-top: 10px;
    row-gap: 20px;
  }
  why h2,p{
    padding-left: 5px;
    padding-right: 5px;
  }
  .why h2{
    font-size: 15px;
    text-align: center;
  }
}

@media(max-width:480px){
  .nav ul {
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    color: white;
    display: none;
  }
  .menu{
  width: 24px;
  height: 24px;
  display: flex;
  float:right;
  margin-top: 0px;
  
}
}
@media(max-width:480px){
.navsub{
width: 100%;
background-color: #f0f3f0;
display: flex;
justify-content: end;
align-items: center;
cursor: pointer;
}
.burger {
width: 24px;
margin-right: 10px;

}
}
.sidebar{
  position: fixed;
  top: 0px;
  right: 0px; 
  height: 100vh;
  width: 250px;
  z-index: 999 ;
  background-color: rgba(255,255,255,0.8);
   box-shadow: -10px 0 10px rgba(0,0,0,0.1);
   backdrop-filter: blur(5px);
   display: none;
}

.sidebar h1{
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  font-weight:350;
  margin-left: 28px;
  margin-top: 20px;
 
}
.sidebar ul{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  list-style-type: none;
  display: flex;
   flex-direction: column ;
   align-items: flex-start;
   justify-content: flex-start;
   row-gap: 30px;
   margin-left: 28px;
   margin-top: 20px;
   background-color:transparent
}
a{
  text-decoration: none;
  color: black;
}